html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
*{
	box-sizing: border-box;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
    color: #333;
    padding: 2vh 2vw;
    margin: 10px;
    border: 2px dashed gray;
	background-color: transparent;
	outline: none;
}

button:hover {
    color: #ff0056;
    border: 2px dashed black;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/*
.nav{
	display:flex
}

#map {
    width: 500px;
    height: 500px;
}
*/

.title {
    font-size: 4vw;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
}

.subtitle {
    font-size: 2vw;
    color: #1155cc;
}

p, li {
    font-size: 18px;
    line-height: 1.5;
}

h3 {
    color: #ff0056;
    line-height: 1.8;
    margin: 3vh auto;
}

/* For Login and Signup */
#userContainer {
    margin: 20vh auto;
    width: 50vw;
    min-height: 40vh;
    max-height: 50vh;
    border: 3px solid #1155cc;
    background-color: rgb(253, 253, 253);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

.userButton {
    background-color: #333;
    color: white;
    border: 2px solid transparent;
}

.userButton:hover {
    background-color: white;
    color: #ff0056;
    border: 2px solid black;
}