html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
*{
	box-sizing: border-box;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/*
.nav{
	display:flex
}

#map {
    width: 500px;
    height: 500px;
}
*/

.title {
    font-size: 4vw;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
}

.subtitle {
    font-size: 2vw;
    color: #1155cc;
}

p, li {
    font-size: 18px;
    line-height: 1.5;
}

h3 {
    color: #ff0056;
    line-height: 1.8;
    margin: 3vh auto;
}