



/* Welcome */
.frontpage-content {
    width: 100vw;
    padding-left: 4vw;
    display: flex;
    flex: row;
}

.frontpage-text {
    width: 50vw;
}

.frontpage-text h2 {
    font-size: 6vw;
    margin-bottom: 0;
}

.frontpage-text h1 {
    font-size: 12vw;
    margin-top: 10px;
    margin-bottom: 5vw;
}

.frontpage-text h4 {
    font-size: 1.8vw;
    font-weight: 300;
    color: gray;
}

#maskLogo {
    width: 45vw;
}
