.nav {
    margin: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

#navLogo {
    height: 4vw;
    position: absolute;
    top: 1.5vh;
    right: 1.5vw;
}

.nav a {
    margin-right: 3vw;
    font-size: 1.2em;
    font-weight: 500;
    color: #1155cc;
}

.nav a:hover {
    color: #ff0056;
    text-decoration: none;
}

/* Footer */
.footer {
    width: 100vw;
    background-color: #393939;
    color: whitesmoke;
    text-align: center;
    padding: 2vh;
}


/* Welcome */
.frontpage-content {
    width: 100vw;
    padding-left: 4vw;
    display: flex;
    flex: row;
}

.frontpage-text {
    width: 50vw;
}

.frontpage-text h2 {
    font-size: 6vw;
    margin-bottom: 0;
}

.frontpage-text h1 {
    font-size: 12vw;
    margin-top: 10px;
    margin-bottom: 5vw;
}

.frontpage-text h4 {
    font-size: 1.8vw;
    font-weight: 300;
    color: gray;
}

#maskLogo {
    width: 45vw;
}